<%- include('../partials/head') %>


<%- include('../partials/sidebar') %>
<main class="dashboard-main bg-gray-100">
<%- include('../partials/navbar') %>
  <div class="dashboard-main-body bg-gray-100 dark:bg-neutral-800 min-h-screen">
   
  </div>

<%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</main>
 

  